In [1]:
import os
import sys
sys.path.append(os.path.join(os.getcwd(), '..'))

In [2]:
from trader_factory import build_active_IBridgePy_plus

In [3]:
t = build_active_IBridgePy_plus('DU1868499')  # Create an IBridgePy_plus instance

Try to get connected to Interactive Brokers
Connected to Interactive Brokers
##    ACCOUNT Balance  DU1868499  ##
CASH=1310497.77
portfolio_value=1310784.78
positions_value=0.0
##    NO ANY POSITION    ##
##    NO any order    ##

In [4]:
from IBridgePy.IbridgepyTools import symbol

In [6]:
# Get historical data of SPY, daily bar, go back 5 days
hist = t.request_historical_data(symbol('SPY'), '1 day', '20 Y')

In [7]:
hist

,index,open,high,low,close,volume
timestamp,,,,,,
2005-04-10 20:00:00-04:00,1113177600,118.29,118.42,117.83,118.09,39861300
2005-04-11 20:00:00-04:00,1113264000,117.89,119.06,117.07,118.70,83390500
2005-04-12 20:00:00-04:00,1113350400,118.56,118.80,117.13,117.35,62623000
2005-04-13 20:00:00-04:00,1113436800,117.42,118.85,115.78,115.81,91462400
2005-04-14 20:00:00-04:00,1113523200,115.74,116.82,114.10,114.18,115231000
...,...,...,...,...,...,...
2025-03-30 20:00:00-04:00,1743379200,549.82,560.72,546.87,559.39,50756979
2025-03-31 20:00:00-04:00,1743465600,557.45,562.94,553.68,560.97,35011067
2025-04-01 20:00:00-04:00,1743552000,555.05,567.42,554.81,564.52,35394053
2025-04-02 20:00:00-04:00,1743638400,545.11,547.97,536.70,536.70,74101279
2025-04-03 20:00:00-04:00,1743724800,523.73,525.87,505.06,505.28,128630868

In [ ]:
type(hist.index[-1])  # The type should be datetime.date

In [ ]:
from tools.hist_converter import convert_hist_using_datetime_to_epoch

In [ ]:
converted = convert_hist_using_datetime_to_epoch(hist)

In [ ]:
type(converted.index[-1])  # The type should be numpy.int64

In [ ]:
converted

In [ ]:
converted.to_csv(os.path.join(os.getcwd(), '..', 'Output', 'myHist.csv'))

In [8]:
hist.to_csv(os.path.join(os.getcwd(), '..', 'Input', 'SPY_new.csv'))